
.header {
    height: 3em;
    max-width: 100vw;
    display: flex;
    align-content: center;
    background: white;
    border-bottom: 3px solid black;
    font-size: 2em;
}
.headerItem {
    display: table;
    height: 100%;
    padding: 0.75rem;
    margin: 0 1em;
    vertical-align: middle;
    text-align: center;
}
.headerImage {
    height:100%;
    padding: 0.5rem;
    vertical-align: middle;
    text-align: center;
}
.headerText {
    display: table-cell;
    vertical-align: middle;
}
#userMenuButton, .dropdown {
    height: 100%;
}

.dropdown-menu {
    width:100%;
    min-width: 0;
}

