<app-header></app-header>
<div class="examdetails">
  <h3 class="examTitle">
    EXAM NAME
  </h3>
  <h5 class="examSubject">
    Subject
  </h5>
  <div class="time"><b>starting time:</b> 2021-06-23T10:00:00</div>
  <div class="time"><b>ending time:</b> 2021-06-23T12:00:00</div>
</div>

<div class="questionEditor">

  <div>
    <div class="questionTitle">
    <span class="questionTitleText">
        Question 1
    </span>
      <span class="questionTitleType">
          type: haha
    </span>
      <span class="score">
          34 pct
    </span>
    </div>
    <div class="questionContent">
    <span class="questionContentText">
        cerinta???
    </span>
    </div>
    <div class="actualanswer">
    <span class="questionContentText">
        actual answer
    </span>
    </div>

    <div class="answer">
    <span>
      Student's answer
    </span>
      <input type="text" class="grade" placeholder="points" formControlName="content"/>
    </div>
  </div>

  <div>
    <div class="questionTitle">
    <span class="questionTitleText">
        Question 2
    </span>
      <span class="questionTitleType">
          type: haha
    </span>
      <span class="score">
          34 pct
    </span>
    </div>
    <div class="questionContent">
    <span class="questionContentText">
        cerinta???
    </span>
    </div>
    <div class="actualanswer">
    <span class="questionContentText">
        actual answer
    </span>
    </div>

    <div class="answer">
    <span>
      Student's answer
    </span>
      <input type="text" class="grade" placeholder="points" formControlName="content"/>
    </div>
  </div>

  <div>
    <div class="questionTitle">
    <span class="questionTitleText">
        Question 3
    </span>
      <span class="questionTitleType">
          type: haha
    </span>
      <span class="score">
          34 pct
    </span>
    </div>
    <div class="questionContent">
    <span class="questionContentText">
        cerinta???
    </span>
    </div>
    <div class="actualanswer">
    <span class="questionContentText">
        actual answer
    </span>
    </div>

    <div class="answer">
    <span>
      Student's answer
    </span>
      <input type="text" class="grade" placeholder="points" formControlName="content"/>
    </div>
  </div>



</div>

<button class="editbutton">Submit Score</button>

