<app-header></app-header>
<div class="examdetails" *ngIf="examData">
  <h3 class="examTitle">
      {{examData.name}}
  </h3>
  <h5 class="examSubject">
      {{examData.subject}}
  </h5>
  <div class="time"><b>starting time:</b> {{examData.startTime}}</div>
  <div class="time"><b>ending time:</b> {{examData.endTime}}</div>
</div>

<form class="questionEditor" *ngIf="pointsForm" [formGroup]="pointsForm">

  <div *ngFor="let answer of answers; let i = index">
    <div class="questionTitle">
    <span class="questionTitleText">
        Question {{i + 1}}
    </span>
      <span class="questionTitleType">
          type: {{answer.question.questionType}}
    </span>
      <span class="score">
          {{answer.question.maxPoints}} pct
    </span>
    </div>
    <div class="questionContent">
    <span class="questionContentText">
        {{answer.question.content}}
    </span>
    </div>
    <div class="actualanswer">
    <span class="questionContentText">
        {{answer.question.correctAnswer}}
    </span>
    </div>

    <div class="answer">
    <span>
        Student's answer: <i>{{answer.content}} </i>
    </span>
    <input type="text" class="grade" placeholder="points" formControlName="{{i}}" />
    </div>
  </div>




</form>

<button class="editbutton" (click)="SubmitPoints()">Submit Score</button>

