<div class="h-100 row login-background">
  <div class="col-11 col-md-6 col-sm-10 col-lg-4 login-body">
      <div class="row centerAlign">
          <img class="fii-logo centerAlign" src="../../assets/logo-fii.png" />
      </div>
      <div class="row centerAlign">
      <img class="user-logo centerAlign" src="../../assets/logo omulet.png" />
      </div>

      <form (ngSubmit)="formSubmit()" class="row centerAlign form-group" [formGroup]="registerForm">
          <input type="email" class="form-control" placeholder="email@address.com" formControlName="email" />
          <input type="text" class="form-control" placeholder="User name" formControlName="userName" />
          <input type="password" class="form-control" placeholder="Password (case sensitive)" formControlName="password" />
          <div class="alert alert-danger" *ngIf="!registerForm.valid && registerForm.touched">
              <div *ngIf="registerForm.controls.email.touched && !registerForm.controls.email.valid">
                  Email is invalid.
              </div>
              <div *ngIf="registerForm.controls.userName.touched && !registerForm.controls.userName.valid">
                  Username needs to have more than 6 characters.
              </div>
              <div *ngIf="registerForm.controls.password.touched && !registerForm.controls.password.valid">
                  Password at least 8 characters, one uppercase, one lowercase, a number and a special character.
              </div>
          </div>

          <button type="submit" class="btn btn-primary centerAlign" [disabled]="!registerForm.valid" >Register</button>
      </form>
  </div>
</div>
