<app-header></app-header>
<div class="examdetails" *ngIf="examData">
  <h3 class="examTitle">
      {{examData.name}}
  </h3>
  <h5 class="examSubject">
      subject: {{examData.subject}}
  </h5>
  <div>starting time: {{examData.startTime}}</div>
  <div>ending time: {{examData.endTime}}</div>
<!--  this should trigger another modal, similar to the new exam modal, idk how to make another modal here-->
  <a class="editiconup">
    <img src="../../assets/edit.svg" class="righticon" data-toggle="modal" data-target="#taskModal">
  </a>
</div>

<div class="questionEditor">
  <button class="editbutton" data-toggle="modal" data-target="#exampleModal" (click)="SelectQuestion(null)">
   + New Question
  </button>

  <div *ngFor="let question of questions; let i = index;">
    <div class="questionTitle">
    <span class="questionTitleText">
        Question {{i + 1}}
    </span>
      <span class="questionTitleType">
          type: {{question.questionType}} 
    </span>
      <span class="score">
          {{question.maxPoints}} pct
    </span>
    </div>
    <div class="questionContent">
    <span class="questionContentText">
        {{question.content}}
    </span>
      <span>
    <a class="edittext" data-toggle="modal" data-target="#exampleModal" (click)="SelectQuestion(question)">
    <img src="../../assets/edit.svg" class="editicon"> Edit question
    </a>
    <a class="edittext">
    <img src="../../assets/import.svg" class="editicon"> Import question
    </a>
     <a class="deletetext" (click)="DeleteQuestion(question.id)">
    <img src="../../assets/trash.svg" class="editicon"> Remove from exam
    </a>
    </span>
    </div>
  </div>


</div>

<!-- Modal for question editing -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please input the question data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="modalForm" >
        <form class="modal-body" [formGroup]="addQuestionForm">
          <select formControlName="questionType">
            <option class="dropdown-item" value="multiple-choice">Multiple Choice</option>
            <option class="dropdown-item" value="truefalse">True/False</option>
            <option class="dropdown-item" value="short-answer">Short answer</option>
          </select>
          <input type="text" class="form-control titleInput" placeholder="Content" formControlName="content"/>
          <input type="text" class="form-control titleInput" placeholder="Correct Answer" formControlName="correctAnswer" />
          <input type="text" class="form-control titleInput" placeholder="Max Points" formControlName="maxPoints"/>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" data-dismiss="modal" onclick="$('.modal').modal('hide')" class="btn btn-primary" (click)="AddQuestion()">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>




<!-- Modal for task editing -->
<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="taskModalLabel">Edit Exam</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="modalForm" >
        <form class="modal-body" [formGroup]="editExamForm">
          <!--          de modificat sa apara toate materiile(apare doar prima )-->

          <select formControlName="Subject">
              <option *ngFor="let subject of subjects" [value]="subject.name">{{subject.name}} </option>
          </select>
<!--          sa se reseteze data si timpul cand apas submit-->
          <input type="text" class="form-control titleInput" placeholder="Name" formControlName="Name" />
          <span class="timetext" > Date: </span>
          <input type="date" class="form-control titleInput" formControlName="Date" />
          <span class="timetext"> Starting time: </span>
          <input type="time" class="form-control titleInput" formControlName="Start" />
         <span class="timetext"> Ending time: </span>
          <input type="time" class="form-control titleInput" formControlName="End" />
          <!--          sa se reseteze data si timpul cand apas submit-->
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" data-dismiss="modal" onclick="$('.modal').modal('hide')" class="btn btn-primary" (click)="EditExam()">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
