.subjects-list {
    margin-top: 4em !important;
}
.subject {
    background-color: #3388cb;
    border-radius: 0.5rem;
    margin: 1em;
    height:10em;
    text-align: center;
    vertical-align: middle;
}
.subject-text {
    position: relative;
    color: white;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

}
