.emails {
  margin-bottom: 100px;
  list-style-type: none;
  padding: 0;
}
.emails li {
  cursor: pointer;
  position: relative;
  margin-top:3px ;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  display: inline-block;
  align-items:center;
}
.emails li:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}
.emails li.selected {
  background-color: black;
  color: white;
}
.emails li.selected:hover {
  background-color: #505050;
  color: white;
}
.emails li.selected:active {
  background-color: black;
  color: white;
}
.emails .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

input {
  padding: .5rem;
}

.email_content{
  padding: 0px;
  display: block;
  background: white;
}


.emailcontrol{
  padding:10px;
  margin-right: 30px;
  width: 150px;
  position: relative;
  background-color: #3266a4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease;
}

.emailcontrol:hover {
  background-color: #9797a5;
  transition: all 0.5s ease;
}



.icon{
  height: 20px;
}


.modal-content{
  left: -400px;
  width: 1000px;
}