<app-header></app-header>
<div class="examContainer">
  <div *ngFor="let exam of examList" class="examListItem row">
    <div class="examWords">
      <span class="examTitle">{{exam.Name}}</span>
      <span class="examLogo"><img src="../../assets/exam-svgrepo-com.svg" class="examLogo"></span>
      <span class="examDescription">Subject: {{exam.Subject}}</span>

    </div>
    <div class="rightExamButtons rowright">
      <a routerLink="/exam-build/stats">
        <img src="../../assets/statistics-svgrepo-com.svg" class="righticon">
        Statistics
      </a>
      <button routerLink="/exam-taking-page" class="editbutton">
        Take Exam
      </button>
      <button class="editbutton">
        See Results
      </button>
    </div>

  </div>
</div>

