.examContainer {
  padding-top: 2em;
  padding-left: 5em;
  padding-right: 5em;
  width: 100%;

}

.rightExamButtons {
  margin-left: auto;
}

.rightExamButtons a{
  text-decoration: none;
}

.rightExamButtons > * {
  margin-left: 1em;
}

.examTitle {
  margin-top: 20px;
  text-align: center;
  min-width: 150px;
  font-size: 18px;
  font-family: "Segoe UI";
  font-weight: 500;
  float: left;
  color: #000000;
  background-color: rgba(100, 170, 227, 0.6);
}

.examDescription {
  text-align: left;
  margin-left: 20px;
  margin-top: 24px;
  min-width: 150px;
  font-size: 14px;
  font-family: "Segoe UI";
  float: left;
  color: #696969;
}

.examLogo {
  margin-top: 8px;
  margin-left: 10px;
  text-align: center;
  font-size: 14px;
  font-family: "Segoe UI";
  float: left;
  color: #696969;
  width: 30px;
}

.row {
  margin-right: 20px;
  margin-top: 1.5em;
  background-color: rgba(245, 245, 245, 0.5);
}

.rowright {
  margin-right: 20px;
  margin-top: 1.5em;
}

.righticon {
  opacity: 35%;
  width: 20px;
  margin-bottom: 5px;
}

.editbutton {
  margin-bottom: 14px;
  position: relative;
  background-color: #3266a4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease;
}

.editbutton:hover {
  background-color: #9797a5;
  transition: all 0.5s ease;
}

.createbutton {
  width: 150px;
  height: 50px;
  font-size: 1em;
  margin-left: -15px;
  margin-bottom: 14px;
  position: relative;
  background-color: #ffffff;
  border: none;
  color: #151515;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease;
  opacity: 75%;
  border-radius: 4px;
}

.createbutton:hover {
  opacity: 100%;
  color: #e1e7ea;
  background-color: #557db1;
  transition: all 0.5s ease;
}

.smol:hover {
  cursor: pointer;
  opacity: 75%;
  text-decoration: none;
  color: #ff0000;
}


.dropdown-menu {

  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 94%;
  min-width: 0;
}

.dropdown-menu a {
  margin-left: 15px;
  text-align: center;
  color: #000000;
  width: 94%;
}

.dropdown-menu a:hover {
  cursor: pointer;
  background: #e1e7ea;
}

.dropdown-item {
  text-align: center;
}

.form-control {
  margin-top: 5px;
}

.timetext{
  opacity: 75%;
  margin-left: 4px;
}
