
.header {
    height: 3em;
    max-width: 100vw;
    display: flex;
    align-content: center;
    background: white;
    border-bottom: 3px solid black;
    font-size: 2em;
}
.headerItem {
  font-size: 1.3em;
    display: table;
    height: 100%;
    padding: 0.75rem;
    margin: 0 1em;
    vertical-align: middle;
    text-align: center;
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

.headerItem:hover {
background: #e1e7ea;
  color: #131212;
}

.headerImage {
    height:100%;
    padding: 0.5rem;
    vertical-align: middle;
    text-align: center;
  transition: all 0.5s ease;
}
.headerImage:hover {
  transition: all 0.5s ease;
filter: hue-rotate(45deg);;
}

.headerText {
    display: table-cell;
    vertical-align: middle;
}
#userMenuButton, .dropdown {
    height: 100%;
}

.dropdown-menu {

  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
  text-align: center;
    width:100%;
    min-width: 0;
}

.dropdown-menu a {

  color: black;
  width:100%;
}

.dropdown-menu a:hover {
  background: #e1e7ea;
}
