<div class="row header">
    <img src="../../assets/logo-fii.png" routerLink="/subjects" class="headerImage">
    <div routerLink="/courses" class="headerItem"><span class="headerText">Courses</span></div>
    <div routerLink="/exams" class="headerItem"><span class="headerText">Exams</span></div>
    <div class="dropdown right-float">
        <button class="btn" id="userMenuButton" data-toggle="dropdown">
            <img src="../../assets/logo omulet.png" class="headerImage" />
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="log-out-dropdown" routerLink="/">Log Out</a>
            <br>
            <a class="forum-dropdown" routerLink="/forum">Forum</a>
        </div>
    </div>
</div>

