<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="row header">
  <!--  facut cu href marius daca e vreo solutie mai buna plz tell-->
  <a href="https://www.info.uaic.ro">
    <img src="../../assets/logo-fii.png" class="headerImage">
  </a>

  <!--  de reparat hreful mai sus-->
  <div routerLink="/courses" routerLink="/subjects" class="headerItem"><span class="headerText">Courses</span></div>
  <div routerLink="/exams" routerLink="/examSelect" class="headerItem"><span class="headerText">Exams</span></div>
  <div routerLink="/exams" routerLink="/forum"class="headerItem"><span class="headerText">Forum</span></div>
  <div routerLink="/exams" routerLink="/email" class="headerItem"><span class="headerText">Email</span></div>
  <div routerLink="/exams" routerLink="/exam" class="headerItem"><span class="headerText">Editor</span></div>

  <div class="dropdown-menu-image">

    <button class="dropdownButton" id="userMenuButton" data-toggle="dropdown">
      <img src="../../assets/logo omulet.png" class="headerImage" id="omulet"/>
      <span class="smoltext"> Navigation</span>
      <img src="../../assets/magnifying-glass.svg" class="headerImage" id="smol">
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" routerLink="/">Log Out</a>
      <a class="dropdown-item" [routerLink]="['/forum/user/', 3]">Profile</a>
      <a class="dropdown-item" id="hidden1" routerLink="/subjects">Courses</a>
      <a class="dropdown-item" id="hidden2" routerLink="/examSelect">Exams</a>
      <a class="dropdown-item" id="hidden3" routerLink="/forum">Forum</a>
      <a class="dropdown-item" id="hidden4" routerLink="/email">Email</a>
      <a class="dropdown-item" id="hidden5" routerLink="/exam">Editor</a>
    </div>
  </div>
</div>

