
.header {
    height: 3em;
    max-width: 100vw;
    display: flex;
    align-content: center;
    background: white;
    border-bottom: 3px solid black;
    font-size: 2em;
}
.headerItem {
  font-size: 1.3em;
    display: table;
    height: 100%;
    padding: 0.75rem;
    margin: 0 1em;
    vertical-align: middle;
    text-align: center;
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

.headerItem:hover {
  cursor: pointer;
background: #e1e7ea;
  color: #131212;
}
.a{
  width: inherit;
}

.headerImage {
    height:100px;
    padding: 0.5rem;
    vertical-align: middle;
    text-align: center;
  transition: all 0.5s ease;
}
.headerImage:hover {
  transition: all 0.5s ease;
filter: hue-rotate(45deg);;
}

.headerText {
    display: table-cell;
    vertical-align: middle;
}
#userMenuButton, .dropdown {
    height: 100%;
}

.dropdown-menu {

  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
  text-align: center;
    width:100px;
  margin-left: 40px;
  margin-top: -3px;
    min-width: 0;
}

.dropdown-menu a {
  text-align: center;
  color: #000000;
  width:100%;
}

.dropdown-menu a:hover {
  background: #e1e7ea;
}

.dropdown-item{
  text-align: center;
}

.dropdownButton{
  background-color: rgba(0,0,0,0);
  border: none;
  margin-left: auto;
}

.dropdown-menu-image{
  margin-right: 13px;
  margin-left: auto;
}

#hidden1{display: none}
#hidden2{display: none}
#hidden3{display: none}
#hidden4{display: none}
#hidden5{display: none}
.smoltext{
  display: none;
  color: #3388cb;
  font-weight: 600;
  margin-right: 20px;
  transition: all 0.5s ease;
}

.smoltext:hover{
  transition: all 0.5s ease;
  filter: hue-rotate(45deg);;
}
#smol{display: none}


@media only screen and (max-width: 1366px) {

  .headerItem{display: none}
  #omulet{display: none}
  #hidden1{display: inherit}
  #hidden2{display: inherit}
  #hidden3{display: inherit}
  #hidden4{display: inherit}
  #hidden5{display: inherit}
  .smoltext{display: inherit}
  #smol{display: inherit}
  .dropdown-menu{
    width: 300px;
    padding: 0;
    background-color:#3388cb ;
    text-shadow: none;
  }

.dropdown-menu a{
  font-size: 30px;
  color: white;
  border-top: solid 3px white;
}

  .dropdown-menu a:hover{
    color: #000000;
  }

}

