.postText {
    width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1em;
}
.commentFormContainer {
    padding: 1em;
    padding-left: 0;
}
.commentFormInput {
    margin-bottom: 1em;
    width:30em;
    resize: both;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.8);
}
