.examdetails {
  max-width: 750px;
  margin-left: 10em;
  margin-top: 5%;
  width: 50em;
  background-color: #e1e7ea;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.examTitle {
  font-size: 75px;
}

.examSubject {
  margin-left: 8px;
  font-size: 45px;
}

.time {
  color: #777777;
  margin-left: 10px;
}

.results-list {
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 5em;
  background-color: rgba(255, 255, 255, 0.8);
  border: #808080 solid 2px;
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.result-row {
  display: flex;
  flex-direction: row;
  border-top: #808080 solid 2px;
}

.name, .surname, .id, .group, .year {
  padding-left: 10px;
  border-right: #808080 solid 2px;
  min-width: 200px;
}

.result-value {
  padding-left: 10px;
  min-width: 200px;
}

#title-row {
  border-top: none;
  font-weight: 600;
}

@media only screen and (max-width: 1366px) {
  .results-list {
    border: none;
    margin-left: 30px;
    width: 555px;
  }

  .result-row {
    overflow: visible;
  }

  .id {
    min-width: 30px;
    border: #808080 solid 2px;
  }

  .name {
    min-width: 150px;
    border: #808080 solid 2px;
  }

  .surname {
    min-width: 150px;
    border: #808080 solid 2px;

  }

  .group {
    min-width: 75px;
    border: #808080 solid 2px;
  }

  .year {
    min-width: 75px;
    border: #808080 solid 2px;
  }

  .result-value {
    min-width: 75px;
    border: #808080 solid 2px;
  }

  .examdetails{
    width: 300px;
    margin-left: 30px;
  }
}
