<app-header></app-header>
<div class="subject-adder" *ngIf="sendEmailForm" [formGroup]="sendEmailForm">
  <div class="name-box">To:
    <div><input type="text" id="course-name-box" name="course-name-box" formControlName="to"></div>
  </div>
  <div class="title-box">Subject:
    <div><input type="text" id="page-title-box" name="page-title-box" formControlName="subject"></div>
  </div>
  <textarea placeholder="Email content" class="text-box" rows="10" cols="80" formControlName="content"></textarea>
</div>
<button class="submit-button" (click)="SendEmail()">Send email</button>
