.text-box {
  margin-top: 50px;
  resize: both;
  margin-left: 10px;
}
.name-box {
  margin: 50px 10px 10px;
  font-size: 26px;
}
.title-box{
  margin: 10px;
  font-size: 26px;
}
.subject-adder {
  display: flex;
  flex-direction: column;
}

.submit-button{
  opacity: 75%;
  background: #1b91d0 linear-gradient(to bottom, #1b63d0 5%, #1539bc 100%);
  border-radius:3px;
  border:0px solid #114194;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  width: 175px;
  padding:16px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #297385;
  margin-top: 45px;
  margin-left: 10px;
}

.submit-button:hover{
  color: #131212;
  background: #a29a98 linear-gradient(to bottom, #c3afab 5%, #e7dbd9 100%);
}
