<app-header></app-header>
<div class="entire-exam">
<div class="examdetails" *ngIf="examData">
  <h3 class="examTitle">
      {{examData.name}}
  </h3>
  <h5 class="examSubject">
    Subject
  </h5>
  <div class="time"><b>starting time:</b> {{examData.startTime}} </div>
  <div class="time"><b>ending time:</b> {{examData.endTime}} </div>
</div>


<div [formGroup]="answersForm" *ngIf="answersForm">
    <div class="writeanswer" *ngFor="let question of questions; let i = index">
      <div class="actualquestion">
          {{question.content}}
      </div>
      <div>
          <input type="text" class="answerinput" name="answer" formControlName="{{i}}">
        </div>
    </div>
</div>

<button class="submitresult" (click)="SubmitSolution()">submit</button>
  </div>
