<app-header></app-header>
<div class="multiplechoice">
  <div class="actualquestion">
    Why?
    Choose an answer
  </div>
  <div class="answers">
    <span>a)first</span>
    <span>b)second</span>
    <span>c)third</span>
    <span>d)fourth</span>
  </div>
</div>
<div class="trueFalse">
  <div class="actualquestion">
    Why?
    True or False
  </div>
  <div class="answerstf">
    <span>True </span>
    <span>False</span>
  </div>
</div>
<div class="matchquestion">
  <div class="actualquestion">
    Match the right answers
  </div>
  <div class="match">
    <div class="leftcolumn">
    <span>a) ok</span>
    <span>b) ok</span>
    <span>c) ok</span>
    <span>d) ok</span>
    </div>
    <div class="rightcolumn">
    <span>a) ok</span>
    <span>b) ok</span>
    <span>c) ok</span>
    <span>d) ok</span>
    </div>
  </div>
</div>
<div class="writeanswer">
  <div class="actualquestion">
    Why?
  </div>
  <div class="answersfreetext">
  <input type="text" id="answer" name="answer">
    <button>submit</button>
  </div>
</div>
