<app-header></app-header>
<div class="checkboxes">
  <span class="checkTitle">Pick what students you want to take this exam:</span>
  <form [formGroup]="studentsForm" *ngIf="students">
      <ul>
        <li *ngFor="let student of students; let i = index;">
            <label class="container">{{student.name}}
                <input type="checkbox" formControlName="{{i}}">
            <span class="checkmark"></span>
          </label>
        </li>
      </ul>
  </form>
  <button class="sendButton" (click)="SubmitAssignments()">Submit</button>
</div>
