<app-header></app-header>
<div class="checkboxes">
  <span class="checkTitle">Pick what students you want to take this exam:</span>
  <button class="btn" id="userMenuButton" data-toggle="dropdown">
    Choose the student group ▼
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" >E1</a>
    <a class="dropdown-item" >E2</a>
    <a class="dropdown-item" >E3</a>
    <a class="dropdown-item" >E4</a>
  </div>
  <ul>
    <li>
      <label class="container">Marcel Numenormal
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </li>
    <li>
      <label class="container">Cristian Numelung Numescurt Deceenumescurtmailungdecatnumelung
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    </li>
    <li>
      <label class="container">Milhai
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    </li>
    <li>
      <label class="container">Marcel
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    </li>
  </ul>
  <button class="sendButton">Submit</button>
</div>
