<div class="grid-item">
<div>
  <button class="commentButton" (click)="openComments()">{{postData.title}}</button>
</div>
<div class="details">
  <p class="pl">
  <span class="userspan" [routerLink]="['/forum/user/', 3]">
  By Author <img src="../../assets/logo omulet.png">
  </span>
    <span class="editDelete"> <button (click)="deletePost()"> <img src="../../assets/trash.svg">Delete</button></span>
  </p>

  <p class="pr">
    <span class="buttons"> <button class="votebutton">▲</button>/<button class="votebutton">▼</button></span>
    <span>  Comment count: {{postData.numberOfComments}} </span>
    <span> Karma: {{postData.numberOfLikes - postData.numberOfDislikes}} </span>
  </p>
</div>

</div>
