
.login-body {
    padding: 1em;
    margin: 0 auto;
    background-color: white;
    border-radius: 1em;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);




}
.login-background {
    min-height:100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.fii-logo, .user-logo {
    max-width: 50%;
}

.form-control {
    margin-bottom: 1em;
}
.ng-valid.form-control {
    border-left: 2px solid green;
}
.ng-invalid.ng-touched.form-control {
    border-left: 2px solid red;
}
