<app-header></app-header>
<div class="everything">
  <button class="add-button" data-toggle="modal" data-target="#exampleModal" ><h3 class="add-text">+ Add subject</h3></button>
<div class="row subjects-list col-10 centerAlign">
    <div *ngFor="let subject of subjects" class=" col-4" >
        <div class="subject" (click)="GoToSubjectPage(subject)">
            <h3 class="subject-text">
                {{subject.name}}
            </h3>
        <div>
    </div>

</div>
</div>


  <!-- Modal for subject adding-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Please input the subject data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="modalForm" >
          <div class="modal-body">
            <button class="btn" id="userMenuButton" data-toggle="dropdown">
              Choose the subject year ▼
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" >1</a>
              <a class="dropdown-item" >2</a>
              <a class="dropdown-item" >3</a>
            </div>
            <input type="text" class="form-control titleInput" placeholder="Subject Name" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" data-dismiss="modal" onclick="$('.modal').modal('hide')" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
