.material-list-item {
    background-color: #3388cb;
    border-bottom: 2px solid white;
    width: 100%;
    color: white;
    font-size: 1.25rem;

}
.course-selector {
    padding-left: 0;
    padding-right: 0;
    background-color: #3388cb;
}
.material-list-item:hover, .material-list-item-selected {
  cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.25s;
}
.material-list-title {
    color: white;
}

.cover-page {
    height: 100%;
}
.content-image {
    max-width: 60%;
}
.course-viewer {
    background-color: #d4e5f5;
}


.add-course button{
  margin-top: 75px;
  margin-left: 60%;
  background-color: #3388cb;
  border: solid white;
  border-radius: 7px;
  padding: 3px;
  color: #FFFFFF;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease;
}

.add-course button:hover {
  background-color: white;
  color: black;
  transition: all 0.5s ease;
}
